* {
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
}
.row {
    line-height: 0;
}
div.row div{
    width: 38px;
    height: 38px;
    border: 1px solid black;
    display: inline-block;
}
div.brick {
    background-color: blue;
}
div.coin {
    background: url("./images/coin.png");
    width: 40px;
    height: 40px;
    display: inline-block;
    background-size: contain;
}
div.cherry {
    background: url(./images/cherry.png);
    width: 40px;
    height: 40px;
    display: inline-block;
    background-size: contain;
}
#pacman {
    background: url(./images/pacman.gif);
    height: 40px;
    width: 40px;
    display: inline-block;
    position: absolute;
    background-size: contain;
    top: 40px;
    left: 40px;
}
#score {
    color: white;
    font-size: larger;
}